<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adding button for each elements of list in thymeleaf</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Adding button for each elements of list in thymeleaf</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>Hubert Kowalski</span>
    </div>
    <div>
     <span>Asked: </span> <span>29 Apr 2021 at 20:36</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/67324728/adding-button-for-each-elements-of-list-in-thymeleaf">source</a>
    </div>
   </div>
   <div>
    <p>I'm having trouble putting a button into the element of the list based on Thymeleaf. I would like to have a button next to element of the list.</p>
    <p></p>
    <div class="snippet" data-lang="js" data-hide="false" data-console="true" data-babel="false">
     <div class="snippet-code">
      <pre class="snippet-code-html lang-html prettyprint-override"><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Home&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;section layout:fragment="" content=""&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-2"&gt;
            &lt;a th:href="@{/archives}"&gt;archiwum zadań&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="col-2"&gt;
            &lt;a th:href="@{/add}"&gt;dodawanie zadania&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;ul&gt;
        &lt;li th:each="task: ${tasks}"
            th:text="|${task.getId()} ${task.getName()} ${task.getCategory().getDescription()} ${task.isFinished()}|"&gt;
            &lt;input type="submit" value="Done"&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/section&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
     </div>
    </div>
    <p></p>
   </div>
   <div class="tags">
    <span class="tag">java</span><span class="tag">html</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>2</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>29 Apr 2021 at 21:43</span>
     </div>
    </div>
    <div>
     <p>Thymeleaf will replace any pre-existing tag content with whatever is generated by the <code>th:text</code> expression.</p>
     <p>In your case that pre-existing content is your <code>&lt;input&gt;</code> element - which is why the buttons are not displayed.</p>
     <p>One way to avoid this is to place your <code>th:text</code> into a span inside the <code>&lt;li&gt;</code>:</p>
     <pre><code>&lt;ul&gt;
    &lt;li th:each="task: ${tasks}"&gt;
        &lt;span th:text="|${task.id} ${task.name} ... |"&gt;&lt;/span&gt;
        &lt;input type="submit" value="Done"&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
     <p>(I removed a couple of your fields from my example, for brevity).</p>
     <p>Note also in my case, I have changed <code>${task.getId}</code> to <code>${task.id}</code>. As long as you have appropriately named getters (as per the JavaBeans naming convention) you can use the field name - and Thymeleaf will find the correct getter to call.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>