<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Thymeleaf dynamic list setter</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Thymeleaf dynamic list setter</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>rocketcrafter</span>
    </div>
    <div>
     <span>Asked: </span> <span>4 Oct 2022 at 00:51</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/73942146/thymeleaf-dynamic-list-setter">source</a>
    </div>
   </div>
   <div>
    <p>I would like to simplify some code of mine. It's quite simple honestly. I have 1 input field, and if a certain condition is fulfilled, it should have 1 more attribute. It should have the <code>list</code> attribute. The Problem I'm having is, that I don't know how to dynamically set an attribute.</p>
    <p>The code looks like this currently:</p>
    <pre><code>           &lt;input th:if="${fieldIndex == 0 &amp;&amp; !#arrays.contains(dropDownFields, y)}"
                   th:disabled="${#arrays.contains(disabledFields, y)}"
                   th:field="*{ZMatrixValues[__${dataIndex}__].tableValues[__${i}__][__${y}__]}"
                   class="table-input" type="text" onfocus="focused(this)"&gt;

            &lt;input th:if="${fieldIndex == 0 &amp;&amp; #arrays.contains(dropDownFields, y)}"
                   list="list"
                   th:disabled="${#arrays.contains(disabledFields, y)}"
                   th:field="*{ZMatrixValues[__${dataIndex}__].tableValues[__${i}__][__${y}__]}"
                   class="table-input" type="text" onfocus="focused(this)"&gt;
</code></pre>
    <p>And as you can see, the 2 input fields are the exact same, except when this condition is true: <code>#arrays.contains(dropDownFields, y)</code>, then it should also add the attribute <code>list="list"</code>. Is there any easier way than copying so much code?</p>
    <p>Any help would be appreciated, thank you!</p>
   </div>
   <div class="tags">
    <span class="tag">html</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>1</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>4 Oct 2022 at 01:39</span>
     </div>
    </div>
    <div>
     <p>Instead of using <code>th:if</code> you can use <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#setting-the-value-of-any-attribute" rel="nofollow noreferrer"><code>th:attr</code></a> and place the conditional logic in that attribute using the Thymeleaf "if-then-else" operator: <code>(if) ? (then) : (else)</code>.</p>
     <p>Here is a simplified version of your code showing this:</p>
     <pre><code>&lt;input th:attr="list=${#arrays.contains(dropDownFields, y) ? 'some_value' : null}"&gt;
</code></pre>
     <p>If the <code>#arrays.contains</code> condition is true, then the <code>list</code> attribute will be added to the <code>&lt;input&gt;</code> element; otherwise if the condition is false, and the <code>null</code> is returned, then no attribute will be added.</p>
     <p>Instead of <code>'some_value'</code> you can use whatever you want - including the <code>th:field</code> expression from your question.</p>
     <p>All the other attributes in your question can be included in the tag, and will be unaffected, since they are not part of the <code>(if) ? (then) : (else)</code> logic.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>