<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>thymeleaf multi string replace</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>thymeleaf multi string replace</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>anjanesh</span>
    </div>
    <div>
     <span>Asked: </span> <span>11 Mar 2023 at 07:22</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/75703415/thymeleaf-multi-string-replace">source</a>
    </div>
   </div>
   <div>
    <p>I want to do a string replace on multiple keywords:</p>
    <pre><code>&lt;td th:text="${#strings.arrayReplace(strLocation,['Latitude: ', 'Longitude: '], ['',''])}"&gt;&lt;/td&gt;
</code></pre>
   </div>
   <div class="tags">
    <span class="tag">string</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>2</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>11 Mar 2023 at 14:53</span>
     </div>
    </div>
    <div>
     <p><strong>Short Answer</strong></p>
     <p>I think you want <code>multipleReplace</code> not <code>arrayReplace</code>. But just in case, I have shown both methods below.</p>
     <hr>
     <p><strong>Longer Answer</strong></p>
     <p><em>Using <code>arrayReplace</code>:</em></p>
     <p>You can see the method signature of the <code>arrayReplace</code> method <a href="https://www.thymeleaf.org/apidocs/thymeleaf/3.0.0.RELEASE/org/thymeleaf/expression/Strings.html#arrayReplace-java.lang.Object:A-java.lang.String-java.lang.String-" rel="nofollow noreferrer">here</a>:</p>
     <blockquote>
      <p><code>public String[] arrayReplace(Object[] target, String before, String after)</code></p>
     </blockquote>
     <p>So, an example of how to use that is as follows:</p>
     <pre class="lang-java prettyprint-override"><code>Map&lt;String, Object&gt; model = new HashMap&lt;&gt;();
// arrayReplace example:
String[] targetArray = {"Volvo", "BMW", "Ford"};
model.put("targetArray", targetArray);
model.put("before", "Ford");
model.put("after", "Mazda");
</code></pre>
     <p>And the related Thymeleaf:</p>
     <pre class="lang-html prettyprint-override"><code>#strings.arrayReplace(targetArray, before, after)
</code></pre>
     <p>This replaces all occurrences of <code>Ford</code> with <code>Mazda</code> in the array.</p>
     <p>A demo (I wrap the array output in <code>arrayJoin</code>, so you can actually see the data in your HTML:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;div th:text="${#strings.arrayJoin(targetArray, ', ')}"&gt;&lt;/div&gt;
&lt;br&gt;
&lt;div th:text="${#strings.arrayJoin(#strings.arrayReplace(targetArray, before, after), ', ')}"&gt;&lt;/div&gt;
</code></pre>
     <hr>
     <p><em>Using <code>multipleReplace</code>:</em></p>
     <p>However, I don't think this is what you want. I think you want to take a string such as this:</p>
     <pre><code>Latitude: 1.23456, Longitude: 2.34567
</code></pre>
     <p>and convert it to this:</p>
     <pre><code>1.23456, 2.34567
</code></pre>
     <p>To do that, you can use <a href="https://www.thymeleaf.org/apidocs/thymeleaf/3.0.0.RELEASE/org/thymeleaf/expression/Strings.html#multipleReplace-java.lang.Object-java.lang.String:A-java.lang.String:A-" rel="nofollow noreferrer"><code>multipleReplace</code></a>:</p>
     <p>The Java test data:</p>
     <pre class="lang-java prettyprint-override"><code>// multipleReplace example:
String targetString = "Latitude: 1.23456, Longitude: 2.34567";
String[] beforeArray = {"Latitude: ", "Longitude: "};
String[] afterArray = {"", ""};
model.put("targetString", targetString);
model.put("beforeArray", beforeArray);
model.put("afterArray", afterArray);
</code></pre>
     <p>The Thymeleaf:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;!-- multipleReplace --&gt;
&lt;div th:text="${targetString}"&gt;&lt;/div&gt;
&lt;br&gt;
&lt;div th:text="${#strings.multipleReplace(targetString, beforeArray, afterArray)}"&gt;&lt;/div&gt;
</code></pre>
     <p>The resulting HTML, showing the "before" and "after" strings:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;div&gt;Latitude: 1.23456, Longitude: 2.34567&lt;/div&gt;
&lt;br&gt;
&lt;div&gt;1.23456, 2.34567&lt;/div&gt;
</code></pre>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>