<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update content in Thymeleaf without reloading whole page</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Update content in Thymeleaf without reloading whole page</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>4</span>
    </div>
    <div>
     <span>Asker: </span> <span>CT11</span>
    </div>
    <div>
     <span>Asked: </span> <span>2 Dec 2021 at 15:19</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/70202040/update-content-in-thymeleaf-without-reloading-whole-page">source</a>
    </div>
   </div>
   <div>
    <p>i want to update the content of div "output" without reloading the whold page. When the user inputs something and hits the run button, the server will output the evaluation on the div "output". But the following code puts only div "output" on the browser. The other piece of page is gone. what i have done wrong ?</p>
    <pre><code>&lt;body&gt;
    &lt;div class="container mx-auto"&gt;
        &lt;div th:insert="fragments/body :: navigation (true, ${spieler.name}, ${spieler.punkte}, ${spieler.level})"&gt;&lt;/div&gt;
    
        &lt;div class="d-flex justify-content-center"&gt;
            &lt;label class="text-center mt-4" id="thetext"&gt;Du liebst Abenteuer und möchte endlich reisen.&lt;br&gt;
                Du hast ein bisschen Geld und das reicht für ein Ticket zur nächsten Insel.&lt;br&gt;
                Unglücklicherweise ist dein Schiff in einem Sturm gesunken. &lt;br&gt;
                Du hat glück, an einen Strand zu landen. &lt;br&gt;&lt;br&gt;
                Jetzt musst du die Herausforderungen mit deinen SQL-Kenntnissen meistern.&lt;br&gt;
                Je schneller du die Probleme löst, desto besser ist dein Ranking.&lt;br&gt;&lt;br&gt;
                Viel Spaß !!!&lt;br&gt;
            &lt;/label&gt;
        &lt;/div&gt;
    
        &lt;div class="d-flex justify-content-center"&gt;
            &lt;input id="startButton" onclick="nachsteFrage()" class="btn-secondary mt-4"
                   type="button" value="Weiter"&gt;
        &lt;/div&gt;
    
        &lt;form method="post"  th:action="@{/level1-answer}" th:object="${answer}"&gt;
            &lt;div class="form-group"&gt;
                &lt;input type="text" class="form-control mt-4" id="codeArea" name="antwort" th:field = "*{SQL}"
                          rows="3" placeholder="Hier steht dein Code ..."&gt;
                &lt;br&gt;
                &lt;div class="d-flex justify-content-center"&gt;
                    &lt;button onclick="updateOutput()" class="btn-secondary mt-4"
                             id="ausfuehrenBtn"&gt;run&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/form&gt;
        &lt;div id="output" style="overflow:scroll; height:400px;"&gt;
             &lt;span th:text = "${evaluation}"&gt;&lt;/&gt;
        &lt;/div&gt;
    
    &lt;/div&gt;
    
    &lt;script th:inline="javascript"&gt;
        function updateOutput() {
            $.get("output").done(function(fragment) { 
                $("#output").replaceWith(fragment);
            });
        }
    &lt;/script&gt;
&lt;/body&gt;
</code></pre>
    <p>the controller</p>
    <pre><code>@RequestMapping(value="/level1-answer", method=RequestMethod.POST)
public String postSQL (Model map, @ModelAttribute("answer") Answer answer) {
    map.addAttribute("evaluation",answer.getSQL() + "  this is correct or incorrect"); 
    return "level1 :: #output";
}
</code></pre>
    <p>the html file is in templates/level1.html</p>
   </div>
   <div class="tags">
    <span class="tag">javascript</span><span class="tag">spring-boot</span><span class="tag">spring-mvc</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
     <tbody>
      <tr>
       <td></td>
       <td><span>Your <code>ausfuehrenBtn</code> button is currently placed inside the <code>&lt;form&gt;</code> - and therefore when you click it, the form submission logic will be executed: <code>method="post" action="/level1-answer"</code>. The <code>updateOutput()</code> function (which is a <code>GET</code> not a <code>POST</code>) will not be called at all. You can see this for yourself by moving the button to after the closing <code>&lt;/form&gt;</code> tag. The <code>GET</code> in the function may still fail if you do not have a controller for it. Basically: don't mix form-based actions with Ajax actions, like this.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">2 Dec 2021 at 19:57</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>Minor point: The span element is missing a proper closing tag: <code>&lt;span th:text="${evaluation}"&gt;&lt;/span&gt;</code>.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">2 Dec 2021 at 19:57</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>If you want to do this, check out <a href="https://htmx.org/" rel="nofollow noreferrer">htmx.org</a> as it is build for doing this kind of thing. I have a few articles on my website to get you started with htmx and Thymeleaf if you are interested: <a href="https://www.wimdeblauwe.com/tags/htmx/" rel="nofollow noreferrer">wimdeblauwe.com/tags/htmx</a></span> <span> - </span> <span class="display-name">Wim Deblauwe</span> <span> </span> <span class="date">3 Dec 2021 at 07:37</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>@andrewJames how can i solve this problem please ? Sorry, i'm new in Spring</span> <span> - </span> <span class="display-name">CT11</span> <span> </span> <span class="date">3 Dec 2021 at 08:53</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>It's not really a Spring question - it's a HTML forms vs. Ajax question. You have all the pieces you need in your question, but you have just mixed together two separate approaches. I have tried to show an example which focuses on the Ajax approach - see my answer.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">3 Dec 2021 at 15:09</span></td>
      </tr>
     </tbody>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>5</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>3 Dec 2021 at 15:08</span>
     </div>
    </div>
    <div>
     <p>Here is a very basic demo, to show one approach.</p>
     <p>I start with the main web page <code>testajax.html</code>:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;meta http-equiv="x-ua-compatible" content="ie=edge"&gt;
        &lt;title&gt;Test Ajax Fragment&lt;/title&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
        &lt;script src="https://code.jquery.com/jquery-3.6.0.min.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h3&gt;A Permanent Heading&lt;/h3&gt;
        &lt;div id="output"&gt;
            Some initial text displayed here. This will be replaced.
        &lt;/div&gt;
        &lt;br&gt;
        &lt;button onclick="updateOutput()" 
                id="ausfuehrenBtn"&gt;run&lt;/button&gt;
        &lt;script&gt;
            function updateOutput() {
                $.post("test_ajax_frag").done(function (fragment) {
                    console.log(fragment);
                    $("#output").replaceWith(fragment);
                });
            }
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
     <p>Note that there is no <code>&lt;form&gt;</code> here, because we are not going to be submitting any form data - we will, instead, be using an Ajax request, later on.</p>
     <p>The controller used to display this page:</p>
     <pre class="lang-java prettyprint-override"><code>@RequestMapping(value="/test_ajax", method=RequestMethod.GET)
public String sendHtml(Model map) {
    //map.addAttribute("foo", "bar");
    return "testajax";
}
</code></pre>
     <p>It's a simple <code>GET</code> handler, used to display the initial page. I don't even have any specific <code>Model</code> data in this case, just to keep the demo simple.</p>
     <p>The Thymeleaf fragment template is <code>testajaxfragment.html</code>:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
    &lt;body&gt;
        &lt;div th:fragment="test_frag"&gt;
            &lt;div id="output"&gt;
                Some replacement content.
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
     <p>The main page contains an Ajax call, which is executed when the button is clicked:</p>
     <pre class="lang-js prettyprint-override"><code>$.post("test_ajax_frag")
</code></pre>
     <p>We need a separate controller for that:</p>
     <pre class="lang-java prettyprint-override"><code>@RequestMapping(value="/test_ajax_frag", method=RequestMethod.POST)
public String sendHtmlFragment(Model map) {
    //map.addAttribute("foo", "bar");
    return "testajaxfragment :: test_frag";
}
</code></pre>
     <p>In this case, I chose to use a POST request in the Ajax call - so the controller has to also be a <code>POST</code> handler.</p>
     <p>When the controller runs, it returns a fragment of HTML to the JavaScript function which called it. That function then replaces the <code>output</code> div:</p>
     <pre><code>$("#output").replaceWith(fragment);
</code></pre>
     <p>This is a fairly crude approach, but shows the technique you are asking about in the question and in your comments.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>