<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Print post number in reverse order from thymeleaf</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Print post number in reverse order from thymeleaf</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>yhc</span>
    </div>
    <div>
     <span>Asked: </span> <span>1 Aug 2022 at 15:38</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/73196241/print-post-number-in-reverse-order-from-thymeleaf">source</a>
    </div>
   </div>
   <div>
    <pre><code>&lt;tbody&gt;
                     &lt;tr th:each="bean , beanStat : ${list}"&gt;
                            &lt;td class="text-center" th:text="${beanStat.size-beanStat.count+1}+(${paging.cri.page}-1)*${cri.perPageNum}" &gt;1&lt;/td&gt;
                               &lt;!--  paging.totalcount --&gt;
                            
   &lt;!--                  &lt;tr th:each="bean , beanStat : ${list}"&gt;
                            &lt;td class="text-center" th:text="${beanStat.size-beanStat.count+1}+(${paging.cri.page}-1)*${cri.perPageNum}" &gt;1&lt;/td&gt;
                               
</code></pre>
    <p>First of all, I'm sorry for not speaking English well.</p>
    <p>I want to number the articles, but I want to number them in reverse order. I think you can do it like below in jsp In thymeleaf, I wonder how to do this in reverse order (is there an index?)</p>
    <p>Total number of records - ( (Current page number - 1) * I think it is the number of records displayed per page.</p>
    <p>${(totalCount - status.index) - ( (currentPage - 1) * displayNum ) }</p>
    <p>I implemented it like this, but I wonder if there is such a part as status.index in the thymeleaf.</p>
    <p><a href="https://i.stack.imgur.com/wL6Ps.png" rel="nofollow noreferrer">enter image description here</a></p>
   </div>
   <div class="tags">
    <span class="tag">spring-boot</span><span class="tag">jsp</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
     <tbody>
      <tr>
       <td></td>
       <td><span>I wrote an answer but then I was not sure if it is what you want, so I deleted it. If you have <code>&lt;tr th:each="item, iterStat : ${list}"&gt;</code> in your Thymeleaf template, then you can reverse the numbering using <code>&lt;td th:text="${iterStat.size - iterStat.count +1}"&gt;&lt;/td&gt;</code>. I see you are already aware of Thymeleaf's iteration status trackers, so maybe this is not what you need?</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">1 Aug 2022 at 17:53</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>oh thanks for the reply. I'm not familiar with the thymeleaf, I didn't know there was such a thing as reverse iteration. so I'm sorry that I deleted the answer. 😪 If it's okay with you, I' wnat to see the code before erasing. I'm sorry I'm not good at English</span> <span> - </span> <span class="display-name">yhc</span> <span> </span> <span class="date">1 Aug 2022 at 18:14</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>I un-deleted my answer. Take a look and see if it helps (or not).</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">1 Aug 2022 at 18:23</span></td>
      </tr>
     </tbody>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>1 Aug 2022 at 17:35</span>
     </div>
    </div>
    <div>
     <p>There is an equivalent to your JSP approach in Thymeleaf - a set of <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#keeping-iteration-status" rel="nofollow noreferrer">iteration tracking</a> attributes you can use when processing a list.</p>
     <p>Assuming you have a Java list like this:</p>
     <pre class="lang-java prettyprint-override"><code>List&lt;String&gt; list = new ArrayList&lt;&gt;();
list.add("One");
list.add("Two");
list.add("Three");
</code></pre>
     <p>Then you can use the following Thymeleaf:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Number&lt;/th&gt;
            &lt;th&gt;Item&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr th:each="item, iterStat : ${list}"&gt;
            &lt;td th:text="${iterStat.size - iterStat.count +1}"&gt;&lt;/td&gt;
            &lt;td th:text="${item}"&gt;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
     <p>This generates:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Number&lt;/th&gt;
            &lt;th&gt;Item&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;3&lt;/td&gt;
            &lt;td&gt;One&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;2&lt;/td&gt;
            &lt;td&gt;Two&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;1&lt;/td&gt;
            &lt;td&gt;Three&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
     <hr>
     <p><strong>Update</strong></p>
     <p>If you want to add paging into the calculation, then your Java code needs to know:</p>
     <ul>
      <li>current page number</li>
      <li>maximum number of rows per page (there may be fewer in the final page)</li>
      <li>total number of records (all pages)</li>
     </ul>
     <p>Let's assume I pass those 3 values from Java to my Thymeleaf model with some new data:</p>
     <pre class="lang-java prettyprint-override"><code>List&lt;String&gt; list = new ArrayList&lt;&gt;();
list.add("Alfa");
list.add("Bravo");
list.add("Charlie");
list.add("Delta");
list.add("Echo");

int currentPage = 1;
int rowsPerPage = 5;
int totalRecords = 9;
</code></pre>
     <p>Now, the Thymeleaf changes to this:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Number&lt;/th&gt;
            &lt;th&gt;Item&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr th:each="item, iterStat : ${list}"&gt;
            &lt;td th:text="${totalRecords - (currentPage * rowsPerPage)
                    + rowsPerPage - iterStat.count +1}"&gt;&lt;/td&gt;
            &lt;td th:text="${item}"&gt;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
     <p>For page 1 this generates:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;tbody&gt;
    &lt;tr&gt;
        &lt;td&gt;9&lt;/td&gt;
        &lt;td&gt;Alfa&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;8&lt;/td&gt;
        &lt;td&gt;Bravo&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;7&lt;/td&gt;
        &lt;td&gt;Charlie&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;6&lt;/td&gt;
        &lt;td&gt;Delta&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;5&lt;/td&gt;
        &lt;td&gt;Echo&lt;/td&gt;
    &lt;/tr&gt;
&lt;/tbody&gt;
</code></pre>
     <p>For page 2 (the final 4 items), we have:</p>
     <pre class="lang-java prettyprint-override"><code>List&lt;String&gt; list = new ArrayList&lt;&gt;();
list.add("Foxtrot");
list.add("Golf");
list.add("Hotel");
list.add("India");

int currentPage = 2;
int rowsPerPage = 5;
int totalRecords = 9;
</code></pre>
     <p>Note: Only the current page number has changed. The rows per page and the total records: those values remain the same across all pages.</p>
     <p>And the same Thymeleaf template generates this:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;tbody&gt;
    &lt;tr&gt;
        &lt;td&gt;4&lt;/td&gt;
        &lt;td&gt;Foxtrot&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;3&lt;/td&gt;
        &lt;td&gt;Golf&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;2&lt;/td&gt;
        &lt;td&gt;Hotel&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;1&lt;/td&gt;
        &lt;td&gt;India&lt;/td&gt;
    &lt;/tr&gt;
&lt;/tbody&gt;
</code></pre>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>thank you It comes out well in reverse, but if you watch 10 rows per page. If there are 18, I would like to number them from page 1 to 18 to 8, and from page 2 to 8 to 1.</span> <span> - </span> <span class="display-name">yhc</span> <span> </span> <span class="date">2 Aug 2022 at 00:17</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>I added an update to the answer to cover paging logic.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">2 Aug 2022 at 01:43</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>