<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Spring Boot Thymeleaf Parsing Error on index.html under src/main/resources/templates/</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Spring Boot Thymeleaf Parsing Error on index.html under src/main/resources/templates/</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>heisenberg</span>
    </div>
    <div>
     <span>Asked: </span> <span>2 Jul 2021 at 14:23</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/68226831/spring-boot-thymeleaf-parsing-error-on-index-html-under-src-main-resources-templ">source</a>
    </div>
   </div>
   <div>
    <p>I'm learning Spring Boot. I'm following some online tutorial and I'm trying to create a small login/register Spring Boot web application using Spring Tool Suite IDE with Thymeleaf. I read online that Thymeleaf should automatically look under <code>src/main/resources/templates/</code> folder of the Spring project.</p>
    <p><strong>PROBLEM / Error:</strong></p>
    <p><code>org.thymeleaf.exceptions.TemplateInputException: An error happened during template parsing (template: "class path resource [templates/index.html]")</code></p>
    <p><code>Caused by: org.attoparser.ParseException: Could not parse as expression: "" (template: "index" - line 13, col 16)</code></p>
    <p>I put my <strong>index.html</strong> under <code>src/main/resources/templates/index.html</code> with the following html code</p>
    <p><strong>index.html</strong></p>
    <pre><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
    &lt;meta charset="ISO-8859-1"&gt;
    &lt;title&gt;Welcome to CodeJava Home&lt;/title&gt;
    &lt;link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" /&gt;
    &lt;script type="text/javascript" src="/webjars/jquery/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container text-center"&gt;
        &lt;h1&gt;Welcome to CodeJava.net&lt;/h1&gt;
        &lt;h3&gt;&lt;a th:href=""&gt;List of Users&lt;/a&gt;&lt;/h3&gt;
        &lt;h3&gt;&lt;a th:href=""&gt;Register&lt;/a&gt;&lt;/h3&gt;
        &lt;h3&gt;&lt;a th:href=""&gt;Login&lt;/a&gt;&lt;/h3&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
    <p>Then I have an <strong>AppController</strong> class that returns the <code>index.html</code> view. I noticed it is using <code>@GetMapping</code> with blank <code>""</code> string which I assume should point to root and scan an html file with the name <strong>index</strong></p>
    <pre><code>package com.jordan.codejava.controllers;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;

import com.jordan.codejava.repos.UserRepository;

@Controller
public class AppController {

    @Autowired
    private UserRepository userRepo;
     
    @GetMapping("")
    public String viewHomePage() {
        return "index";
    }
}
</code></pre>
    <p><strong>UserRepository</strong> is just an interface extending JpaRepository</p>
    <pre><code>public interface UserRepository extends JpaRepository&lt;User, Long&gt;{}
</code></pre>
    <p>I even tried to replace <strong>@GetMapping("")</strong> with <code>@GetMapping("/")</code> or <code>@RequestMapping("")</code> or <code>@RequestMapping(value = "/")</code> but I still get the same error message.</p>
    <p>I searched online but still can't find a solution.</p>
    <p>Do I need to specify the view prefix in this case? Something like,</p>
    <pre><code>spring.mvc.view.prefix=/WEB-INF/views/
</code></pre>
    <p>in the application.properties file?</p>
    <p>I'd appreciate any suggestion. Thank you.</p>
   </div>
   <div class="tags">
    <span class="tag">java</span><span class="tag">spring</span><span class="tag">spring-boot</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
     <tbody>
      <tr>
       <td></td>
       <td><span>No you don't need to specify the view prefix. You're getting the problem while parsing the index.html</span> <span> - </span> <span class="display-name">b.s</span> <span> </span> <span class="date">2 Jul 2021 at 14:38</span></td>
      </tr>
     </tbody>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span> <span class="arrow"> <a href="#answer_2">↓</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>2</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>2 Jul 2021 at 15:16</span>
     </div>
    </div>
    <div>
     <p>This is not a valid Thymeleaf expression:</p>
     <pre><code>th:href=""
</code></pre>
     <p>If you want an empty value, you can just use a non-Thymeleaf attribute, without the <code>th</code> prefx:</p>
     <pre><code>href=""
</code></pre>
     <p>Or if you want Thymeleaf to generate an empty string, you can use something like this:</p>
     <pre><code>th:href="''"
</code></pre>
     <p>But more typically I would expect to see a full <code>@{...}</code> Thymeleaf expression using the <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#link-urls" rel="nofollow noreferrer">link URL</a> syntax.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>Thank you. This solved my problem. In the process of running the app and changing the href part, I encountered the <code>Whitelabel Error page, This application has no explicit mapping for /error, so you are seeing this as a fallback</code> error. Fortunately I found several solutions via google. Adding this link as reference for others <a href="https://www.yawintutor.com/application-has-no-explicit-mapping-for-error-whitelabel-error-page-with-status-404/" rel="nofollow noreferrer">yawintutor.com/…</a></span> <span> - </span> <span class="display-name">heisenberg</span> <span> </span> <span class="date">3 Jul 2021 at 04:08</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <div>
    <h2 id="answer_2"><span>Answer 2</span> <span class="arrow"> <a href="#answer_1">↑</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>1</span>
     </div>
     <div>
      <span>Answerer: </span> <span>LosmiNCL</span>
     </div>
     <div>
      <span> Answered: </span> <span>2 Jul 2021 at 22:54</span>
     </div>
    </div>
    <div>
     <p>This part:</p>
     <pre><code>&lt;a th:href=""&gt;
</code></pre>
     <p>is invalid Thymeleaf expression.</p>
     <p>Use <code>&lt;a th:href= "@{/some_kind_of_link}"&gt;</code></p>
     <p>Only then Thymeleaf will understand you. When you put <code>&lt;a th:href=""&gt;</code> Thymeleaf doesn't know what to do and then he can't render the webpage, so he shows an error.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>