<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thymeleaf check if array contains string</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Thymeleaf check if array contains string</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>fosho</span>
    </div>
    <div>
     <span>Asked: </span> <span>7 Jul 2020 at 01:02</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/62766603/thymeleaf-check-if-array-contains-string">source</a>
    </div>
   </div>
   <div>
    <p>I want to check if an array contains a certain string and render based if its there or not.</p>
    <p>testResponse.test1.itemTypes = ['here', 'nothere']</p>
    <pre><code>&lt;div th:if="${testResponse!= null AND testResponse.test1.itemTypes == 'here'}"&gt;
&lt;ul&gt;
    &lt;li&gt;&lt;span&gt;I'm here&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
   </div>
   <div class="tags">
    <span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>2</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>7 Jul 2020 at 01:28</span>
     </div>
    </div>
    <div>
     <p>You can use the Thymeleaf <code>#arrays.contains()</code> expression - see the documentation <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#arrays" rel="nofollow noreferrer">here</a>.</p>
     <p>So, for your example it would be:</p>
     <pre><code>&lt;div th:if="${testResponse != null 
       and #arrays.contains(testResponse.test1.itemTypes, 'here')}"&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;span&gt;I'm here&lt;/span&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>
     <p>Note that the <code>and</code> has to be lower case. <code>AND</code> is not valid Thymeleaf syntax.</p>
     <p><strong>UPDATE:</strong></p>
     <p>For the additional case mentioned in comments, use the <code>not</code> operator as follows:</p>
     <pre><code>&lt;div th:if="${testResponse != null 
       and not #arrays.contains(testResponse.test1.itemTypes, 'here')}"&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;span&gt;I'm missing&lt;/span&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>and to test if it doesn't contain that string would i do #arrays.!contains(testResponse.test1.itemTypes, 'here')?</span> <span> - </span> <span class="display-name">fosho</span> <span> </span> <span class="date">7 Jul 2020 at 01:39</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>Answer updated. You can see an overview of the core operators and expressions <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#standard-expression-syntax" rel="nofollow noreferrer">here</a>.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">7 Jul 2020 at 01:47</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>