<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thymeleaf - tag inside th:text</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Thymeleaf - tag inside th:text</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>John</span>
    </div>
    <div>
     <span>Asked: </span> <span>10 Dec 2020 at 13:55</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/65235914/thymeleaf-tag-inside-thtext">source</a>
    </div>
   </div>
   <div>
    <p>I need to put tag or text based on some expression. I tried an expression like this bud didn't work.</p>
    <pre><code>&lt;td th:text="${reservation[0] == null ? &lt;a href="/reserve"&gt;Reserve&lt;/a&gt; : reservation[0] == request.username ? &lt;a href="/cancel"&gt;Cancel&lt;/a&gt; : Reserved}"&gt;&lt;/td&gt;
</code></pre>
   </div>
   <div class="tags">
    <span class="tag">java</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span> <span class="arrow"> <a href="#answer_2">↓</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>Xtof</span>
     </div>
     <div>
      <span> Answered: </span> <span>10 Dec 2020 at 14:34</span>
     </div>
    </div>
    <div>
     <p>Try this :</p>
     <pre><code>&lt;td th:utext="${reservation[0] == null} ? '&lt;a href="/reserve"&gt;Reserve&lt;/a&gt;' :  ${reservation[0] == request.username} ? '&lt;a href="/cancel"&gt;Cancel&lt;/a&gt;' : 'Reserved'"&gt;&lt;/td&gt;
</code></pre>
     <p>You can also make it easier to read with multiple test conditions:</p>
     <pre><code>&lt;td th:if="${reservation[0] == null}"&gt;&lt;a href="/reserve"&gt;Reserve&lt;/a&gt;&lt;/td&gt;
&lt;td th:if="${reservation[0] == request.username}"&gt;&lt;a href="/cancel"&gt;Cancel&lt;/a&gt;&lt;/td&gt;
</code></pre>
     <p>If the condition is not fullfilled then th tag is not displayed.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <div>
    <h2 id="answer_2"><span>Answer 2</span> <span class="arrow"> <a href="#answer_1">↑</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>10 Dec 2020 at 14:44</span>
     </div>
    </div>
    <div>
     <p>The Thymeleaf <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#switch-statements" rel="nofollow noreferrer">switch statement</a> provides a clean alternative:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;table&gt;
    &lt;tr&gt;
    &lt;th:block th:switch="${reservation[0]}"&gt;
        &lt;td&gt;&lt;a th:case="null" th:text="Reserve" href="/reserve"&gt;&lt;/a&gt;&lt;td&gt;
        &lt;td&gt;&lt;a th:case="${request.username}" th:text="Cancel" href="/cancel"&gt;&lt;/a&gt;&lt;td&gt;
        &lt;td th:case="*" th:text="'Reserved'"&gt;&lt;/td&gt;
    &lt;/th:block&gt;
    &lt;/tr&gt;
&lt;/table&gt;
</code></pre>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>