<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JS script doesn't work in a Thymeleaf template</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>JS script doesn't work in a Thymeleaf template</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>JavaMat87</span>
    </div>
    <div>
     <span>Asked: </span> <span>15 Jan 2021 at 16:15</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/65739599/js-script-doesnt-work-in-a-thymeleaf-template">source</a>
    </div>
   </div>
   <div>
    <p>I'm trying to add a default 404 error page to my Spring app, and I thought it would be nice to add an animate template like that: <a href="https://codepen.io/wikyware-net/pen/xywexE" rel="nofollow noreferrer">https://codepen.io/wikyware-net/pen/xywexE</a></p>
    <p>The whole idea is a validation of form and redirection to the error page, if it fails. Basically, redirection works fine, but the problem I have is I can not make the JS part running (the tost doesn't pop up :-/)...</p>
    <p>Here's how my error page looks like:</p>
    <pre class="lang-html prettyprint-override"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Ooops... Something went wrong!&lt;/title&gt;
    &lt;meta name="description" content="Создание адаптивного сайта"/&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"/&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"/&gt;
    &lt;link rel="stylesheet" th:href="@{/css/error.css}"/&gt;
    &lt;script type="text/javascript" th:src="@{/static/js/error.js}"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="ag-page-404"&gt;
    &lt;div class="ag-toaster-wrap"&gt;
        &lt;div class="ag-toaster"&gt;
            &lt;div class="ag-toaster_back"&gt;&lt;/div&gt;
            &lt;div class="ag-toaster_front"&gt;
                &lt;div class="js-toaster_lever ag-toaster_lever"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="ag-toaster_toast-handler"&gt;
                &lt;div class="ag-toaster_shadow"&gt;&lt;/div&gt;
                &lt;div class="js-toaster_toast ag-toaster_toast js-ag-hide"&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;canvas id="canvas-404" class="ag-canvas-404"&gt;&lt;/canvas&gt;
        &lt;img class="ag-canvas-404_img"
             src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/smoke.png"&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;a th:href="@{/home}" target="_blank" class="btn-primary"&gt;Go back&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;


</code></pre>
    <p>Both CSS and JS code I use, is included in the template I attached at the very beginning.</p>
    <p>Here's also the snapshot of the project's resources structure:</p>
    <p><a href="https://i.stack.imgur.com/aiJ3w.jpg" rel="nofollow noreferrer"><img src="/question/stackoverflow/65739599/aiJ3w.jpg" alt="enter image description here"></a></p>
    <p>What am I doing wrong here? What are best practices in importing such a HTML template into a Spring Boot/Thymeleaf project?</p>
    <p>Thank you in advance for your help.</p>
    <p>Kind regards, Matthew</p>
    <hr>
    <h2>EDIT:</h2>
    <p>So I changed my html page to that form:</p>
    <pre class="lang-html prettyprint-override"><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Ooops... Something went wrong!&lt;/title&gt;
    &lt;meta name="description" content="Создание адаптивного сайта"/&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"/&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"/&gt;
    &lt;link rel="stylesheet" th:href="@{/css/error.css}"/&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="ag-page-404"&gt;
    &lt;div class="ag-toaster-wrap"&gt;
        &lt;div class="ag-toaster"&gt;
            &lt;div class="ag-toaster_back"&gt;&lt;/div&gt;
            &lt;div class="ag-toaster_front"&gt;
                &lt;div class="js-toaster_lever ag-toaster_lever"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="ag-toaster_toast-handler"&gt;
                &lt;div class="ag-toaster_shadow"&gt;&lt;/div&gt;
                &lt;div class="js-toaster_toast ag-toaster_toast js-ag-hide"&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;canvas id="canvas-404" class="ag-canvas-404"&gt;&lt;/canvas&gt;
        &lt;img class="ag-canvas-404_img" src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/smoke.png"&gt;
    &lt;/div&gt;
&lt;/div&gt;
    &lt;div&gt;
        &lt;a th:href="@{/home}" target="_blank" class="btn-primary"&gt;Go back&lt;/a&gt;
    &lt;/div&gt;
    &lt;script src="webjars/jquery/1.9.1/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://code.jquery.com/jquery-3.5.1.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" th:src="@{/js/error.js}"&gt;&lt;/script&gt;
    &lt;script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;/div&gt;
&lt;/body&gt;
</code></pre>
    <p>Plus, I also updated my build.gradle file:</p>
    <pre><code>buildscript {
    ext {
        springBootVersion = '2.0.5.RELEASE'
    }
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath("org.springframework.boot:spring-boot-gradle-plugin:${springBootVersion}")
    }
}

plugins {
    id 'war'
}

apply plugin: 'java'
apply plugin: 'eclipse'
apply plugin: 'org.springframework.boot'
apply plugin: 'io.spring.dependency-management'

group = 'pl.mpas'
version = '0.0.1-SNAPSHOT'
sourceCompatibility = 1.8
targetCompatibility = 1.8

repositories {
    mavenLocal()
    mavenCentral()
}


dependencies {
    compile('org.springframework.boot:spring-boot-starter-data-jpa')
    compile('org.springframework.boot:spring-boot-starter-thymeleaf')
    compile('org.springframework.boot:spring-boot-starter-web')
    compile group: 'org.springframework.boot', name: 'spring-boot-starter-validation', version: '2.3.7.RELEASE'
    compile group: 'org.webjars', name: 'bootstrap', version: '3.3.6'
    compile group: 'org.webjars', name: 'bootstrap-datepicker', version: '1.0.1'
    compile group: 'org.webjars.bower', name: 'jquery', version: '3.5.1'
    runtime('org.springframework.boot:spring-boot-devtools')
    runtime('com.h2database:h2')
    runtime('mysql:mysql-connector-java')
    testCompile('org.springframework.boot:spring-boot-starter-test')
    compile('org.apache.struts:struts2-core:2.3.16.1')
    providedCompile('javax.servlet.jsp:jsp-api:2.1')
    providedCompile('javax.servlet:javax.servlet-api:3.1.0')
}
</code></pre>
    <p>Thanks to that, I no longer see any errors in the browser's console. However... JS still doesn't work as expected. :-/</p>
   </div>
   <div class="tags">
    <span class="tag">javascript</span><span class="tag">html</span><span class="tag">css</span><span class="tag">spring</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span> <span class="arrow"> <a href="#answer_2">↓</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>2</span>
     </div>
     <div>
      <span>Answerer: </span> <span>Ajit Kumar Singh</span>
     </div>
     <div>
      <span> Answered: </span> <span>15 Jan 2021 at 18:16</span>
     </div>
    </div>
    <div>
     <p>Your files structure looks good. you have added your js file in error page by</p>
     <pre><code> &lt;script type="text/javascript" th:src="@{/static/js/error.js}"&gt;&lt;/script&gt;
</code></pre>
     <p>but I don't thing you need to mention static in your source URL for JS, Change it to</p>
     <pre><code>&lt;script type="text/javascript" th:src="@{/js/error.js}"&gt;&lt;/script&gt;
</code></pre>
     <p>also please add the below dependencies in your pom.xml for jQuery and Bootstrap</p>
     <pre><code>&lt;dependency&gt;
    &lt;groupId&gt;org.webjars&lt;/groupId&gt;
    &lt;artifactId&gt;bootstrap&lt;/artifactId&gt;
    &lt;version&gt;3.3.6&lt;/version&gt;
&lt;/dependency&gt;

&lt;dependency&gt;
    &lt;groupId&gt;org.webjars&lt;/groupId&gt;
    &lt;artifactId&gt;bootstrap-datepicker&lt;/artifactId&gt;
    &lt;version&gt;1.0.1&lt;/version&gt;
&lt;/dependency&gt;

&lt;dependency&gt;
    &lt;groupId&gt;org.webjars&lt;/groupId&gt;
    &lt;artifactId&gt;jquery&lt;/artifactId&gt;
    &lt;version&gt;1.9.1&lt;/version&gt;
&lt;/dependency&gt;

</code></pre>
     <p>change your error.html file as shown below</p>
     <pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Ooops... Something went wrong!&lt;/title&gt;
    &lt;meta name="description" content="Создание адаптивного сайта"/&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"/&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"/&gt;
    &lt;link rel="stylesheet" th:href="@{/css/error.css}"/&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="ag-page-404"&gt;
    &lt;div class="ag-toaster-wrap"&gt;
        &lt;div class="ag-toaster"&gt;
            &lt;div class="ag-toaster_back"&gt;&lt;/div&gt;
            &lt;div class="ag-toaster_front"&gt;
                &lt;div class="js-toaster_lever ag-toaster_lever"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="ag-toaster_toast-handler"&gt;
                &lt;div class="ag-toaster_shadow"&gt;&lt;/div&gt;
                &lt;div class="js-toaster_toast ag-toaster_toast js-ag-hide"&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;canvas id="canvas-404" class="ag-canvas-404"&gt;&lt;/canvas&gt;
        &lt;img class="ag-canvas-404_img" src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/smoke.png"&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;script src="webjars/jquery/1.9.1/jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" th:src="@{/js/error.js}"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
     <p>now it will work fine. Let me know if any doubt. Refer:<a href="https://www.springboottutorial.com/spring-boot-with-jquery-and-bootstrap-web-jars" rel="nofollow noreferrer">https://www.springboottutorial.com/spring-boot-with-jquery-and-bootstrap-web-jars</a></p>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>Hi Ajit, thanks for your answer! So, I applied your suggestions, but there's still something wrong with jQuery apparently, as I still got errors in the browser's console. Is it possible that I need newer dependencies than the ones which you sent?</span> <span> - </span> <span class="display-name">JavaMat87</span> <span> </span> <span class="date">15 Jan 2021 at 19:07</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>Please check once, Because the same is working for me.</span> <span> - </span> <span class="display-name">Ajit Kumar Singh</span> <span> </span> <span class="date">15 Jan 2021 at 19:12</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>I checked once again, unfortunately - still the same... :-/ I get: "Uncaught Reference Error: $ is not defined"...</span> <span> - </span> <span class="display-name">JavaMat87</span> <span> </span> <span class="date">15 Jan 2021 at 19:25</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <div>
    <h2 id="answer_2"><span>Answer 2</span> <span class="arrow"> <a href="#answer_1">↑</a> </span> <span class="arrow"> <a href="#answer_3">↓</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>1</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>15 Jan 2021 at 17:29</span>
     </div>
    </div>
    <div>
     <p>A couple of notes:</p>
     <hr>
     <p>Change your JavaScript reference for your <code>error.js</code> script to this:</p>
     <pre><code>&lt;script type="text/javascript" th:src="@{/js/error.js}"&gt;&lt;/script&gt;
</code></pre>
     <p>There is no need to include the <code>/static</code> portion of the URL.</p>
     <hr>
     <p>Also, have you included jQuery in the page? For example:</p>
     <pre><code>&lt;script src="https://code.jquery.com/jquery-3.5.1.js"&gt;&lt;/script&gt;
</code></pre>
     <p>You will see an error in the browser's console if jQuery is not available.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <div>
    <h2 id="answer_3"><span>Answer 3</span> <span class="arrow"> <a href="#answer_2">↑</a> </span> <span class="arrow"> <a href="#answer_4">↓</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>Chandra Kant</span>
     </div>
     <div>
      <span> Answered: </span> <span>15 Jan 2021 at 18:25</span>
     </div>
    </div>
    <div>
     <p>Try to change your JavaScript reference in your HTML page:</p>
     <pre><code>&lt;link rel="stylesheet" href="../static/css/error.js" type="text/javascript" th:href="@{/error.js}"&gt;
</code></pre>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>Hi Chandra, Nooope, that actually made things even worse... :) Nor CSS or JS is displayed properly after that change.</span> <span> - </span> <span class="display-name">JavaMat87</span> <span> </span> <span class="date">15 Jan 2021 at 19:17</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <div>
    <h2 id="answer_4"><span>Answer 4</span> <span class="arrow"> <a href="#answer_3">↑</a> </span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>JavaMat87</span>
     </div>
     <div>
      <span> Answered: </span> <span>15 Jan 2021 at 22:26</span>
     </div>
    </div>
    <div>
     <p>All right guys, I finally made it running. In my case the problem was a lack of jQuery's script tag in html's head section. I used Google's CDN hosting:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"&gt;&lt;/script&gt;
</code></pre>
     <p>So the final, working version of my page looks as follows:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Ooops... Something went wrong!&lt;/title&gt;
    &lt;meta name="description" content="Создание адаптивного сайта"/&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"/&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"/&gt;
    &lt;link rel="stylesheet" th:href="@{/css/error.css}"/&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="ag-page-404"&gt;
    &lt;div class="ag-toaster-wrap"&gt;
        &lt;div class="ag-toaster"&gt;
            &lt;div class="ag-toaster_back"&gt;&lt;/div&gt;
            &lt;div class="ag-toaster_front"&gt;
                &lt;div class="js-toaster_lever ag-toaster_lever"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="ag-toaster_toast-handler"&gt;
                &lt;div class="ag-toaster_shadow"&gt;&lt;/div&gt;
                &lt;div class="js-toaster_toast ag-toaster_toast js-ag-hide"&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;canvas id="canvas-404" class="ag-canvas-404"&gt;&lt;/canvas&gt;
        &lt;img class="ag-canvas-404_img"
             src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/smoke.png"&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;a th:href="@{/home}" target="_blank" class="btn-primary"&gt;Go back&lt;/a&gt;
&lt;/div&gt;
    &lt;script src="webjars/jquery/3.5.1/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" th:src="@{/js/error.js}"&gt;&lt;/script&gt;
&lt;/div&gt;
&lt;/body&gt;
</code></pre>
     <p>Thanks again for your help! Cheers!</p>
    </div>
    <hr>
    <div class="comment">
     <table>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>