<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>if condition inThymeleaf.Verify that a date is a DayOfWeek. With th:text it prints MONDAY but if I do the check it doesn't work</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>if condition inThymeleaf.Verify that a date is a DayOfWeek. With th:text it prints MONDAY but if I do the check it doesn't work</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>0</span>
    </div>
    <div>
     <span>Asker: </span> <span>sonMassimo1</span>
    </div>
    <div>
     <span>Asked: </span> <span>10 Feb 2021 at 01:26</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/66129664/if-condition-inthymeleaf-verify-that-a-date-is-a-dayofweek-with-thtext-it-prin">source</a>
    </div>
   </div>
   <div>
    <pre><code> &lt;pre&gt;
 &lt;td&gt;
     &lt;span th:each="shift : ${employee.value}"&gt; 
         &lt;span th:if="${#temporals.dayOfWeekName(shift.date)} == 'MONDAY'"&gt;
             &lt;button th:text="${shift.start} + '-' + ${shift.end}" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#shiftDetail"&gt;Info&lt;/button&gt;
         &lt;/span&gt;
     &lt;/span&gt;
     &lt;button class="btn btn-primary" type="button" data-toggle="modal" data-target="#assignShift"&gt;+ 
    &lt;/button&gt;
 &lt;/td&gt;
 &lt;/pre&gt;
</code></pre>
   </div>
   <div class="tags">
    <span class="tag">html</span><span class="tag">spring-boot</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
     <tbody>
      <tr>
       <td></td>
       <td><span>You should probably add a bit more explanatory text to your question. E.g. what is the outcome of your code snippet and what is it that you expect instead?</span> <span> - </span> <span class="display-name">Raven</span> <span> </span> <span class="date">10 Feb 2021 at 11:30</span></td>
      </tr>
     </tbody>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>10 Feb 2021 at 02:50</span>
     </div>
    </div>
    <div>
     <p>The Thymeleaf <code>#temporals.dayOfWeekName()</code> function returns a <a href="https://github.com/thymeleaf/thymeleaf-extras-java8time/blob/ca257580ececf8e93ce57fe003e5fe16dde4c1a6/src/main/java/org/thymeleaf/extras/java8time/util/TemporalFormattingUtils.java#L116" rel="nofollow noreferrer">formatted string</a> using the <code>EEEE</code> formatter.</p>
     <p>The formatter means you will get strings such as <code>Monday</code> (not <code>MONDAY</code>):</p>
     <p>See the <a href="https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html" rel="nofollow noreferrer">formatter</a> details:</p>
     <blockquote>
      <p><code>E</code> day-of-week text Tue; Tuesday; T</p>
     </blockquote>
     <p>When I test with the following, it works as expected (today being Tuesday, for me, at the moment):</p>
     <pre><code>LocalDate mydate = LocalDate.now();
</code></pre>
     <pre><code>&lt;div th:if="${#temporals.dayOfWeekName(mydate)} == 'Tuesday'"&gt;
    &lt;div&gt;it worked&lt;/div&gt;
&lt;/div&gt;
</code></pre>
     <p>I am not sure why you are seeing <code>MONDAY</code> when you print your value. But it is worth noting that <code>MONDAY</code> is one of the Java enum constants used by <a href="https://docs.oracle.com/javase/8/docs/api/java/time/DayOfWeek.html" rel="nofollow noreferrer"><code>DayOfWeek</code></a> - and is also what is returned by its <code>name()</code> method.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td>1</td>
        <td><span>Thanks, I tried and it works. But I also found this solution th:if=${shift.date.dayOfWeek.toString.equals("MONDAY")}</span> <span> - </span> <span class="display-name">sonMassimo1</span> <span> </span> <span class="date">10 Feb 2021 at 12:33</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>