@font-face {
    font-family: "OpenSans";
    src: url(/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: "OpenSansItalic";
    src: url(/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: "OpenSans", sans-serif, system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0 10px;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    word-wrap: break-word;
}

@media (min-width: 768px) {
    body {
        padding: 20px;
    }
    div.question {
        max-width: 650px;
        margin: auto;
    }
    div.comment {
        margin: 0 60px;
    }
}

@media (max-width: 767px) {
    body {
        padding: 5px;
    }
    div.question {
        margin: 0;
    }
    div.comment {
        margin: 0 5px;
    }
}

h2 {
    line-height: 30px;
    margin: 10px 0;
    font-size: 28px;
    font-weight: initial;
}

h3 {
    font-weight: 500;
}

.container-metadata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: grey;
    align-items: center;
}

div.tags {
    margin: 10px 0;
}

span.tag {
    border: 1px solid grey;
    padding: 2px 6px;
    margin: 4px 8px 4px 0;
    border-radius: 5px;
    background-color: aliceblue;
    color: mediumblue;
}

div.comment {
    font-size: 0.9em;
    line-height: 17px;
}

table.dataTable {
    border-collapse: collapse;
    border-spacing: 0;
}

div.comment table, td {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

div.comment td {
    padding: 2px 4px 4px 4px;
    vertical-align: top;
}

.display-name {
    color: blue;
}

.date {
    color: grey;
}

span.warning_msg {
    color: orange;
}

span.error_msg {
    color: red;
}

span.ok_msg {
    color: green;
}

a {
    cursor: pointer;
    color: #3174c7;
    text-decoration: none;
}

pre {
    padding: 6px 0 8px 10px;
    overflow: auto;
}

pre, code {
    border: none;
    background-color: #eeeded;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.arrow {
    font-size: smaller;
}

.scrollable {
    height: 200px;
    width: 950px;
    overflow-y: auto;
}
