body {
    font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;
}

@media (max-width: 767px) {
    body {
        padding: 5px;
    }
    div.comment {
        margin: 0 30px;
    }
}

@media (min-width: 768px) {
    body {
        padding: 20px;
    }
    div.comment {
        margin: 0 60px;
    }
}

h2 {
    line-height: 30px;
    margin: 10px 0;
    font-size: 28px;
    font-weight: initial;
}

h3 {
    font-weight: 500;
}

div.question {
    max-width: 650px;
    margin: auto;
}

.container-metadata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: grey;
    align-items: center;
}

div.tags {
    margin: 10px 0;
}

span.tag {
    border: 1px solid grey;
    padding: 2px 6px;
    margin: 4px 8px 4px 0;
    border-radius: 5px;
    background-color: aliceblue;
    color: mediumblue;
}

div.comment {
    font-size: smaller;
    line-height: 17px;
}

table.dataTable {
    border-collapse: collapse;
    border-spacing: 0;
}

div.comment table, td {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

div.comment td {
    padding: 2px 4px 4px 4px;
    vertical-align: top;
}

.display-name {
    color: blue;
}

.date {
    color: grey;
}

span.warning_msg {
    color: orange;
}

span.error_msg {
    color: red;
}

span.ok_msg {
    color: green;
}

a {
    cursor: pointer;
    color: #3174c7;
    text-decoration: none;
}

pre {
    padding: 6px 0 8px 10px;
    overflow: auto;
}

pre, code {
    border: none;
    background-color: #eeeded;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.arrow {
    font-size: smaller;
}

.scrollable {
    height: 200px;
    width: 950px;
    overflow-y: auto;
}
