<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thymeleaf - return rendered template to String</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Thymeleaf - return rendered template to String</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>Replay111</span>
    </div>
    <div>
     <span>Asked: </span> <span>16 Dec 2022 at 09:21</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/74822427/thymeleaf-return-rendered-template-to-string">source</a>
    </div>
   </div>
   <div>
    <p>I was using this solution as an example:</p>
    <p><a href="https://stackoverflow.com/questions/17085410/can-i-render-thymeleaf-templates-manually-from-a-string/74821770#74821770">Can I render Thymeleaf templates manually from a String?</a></p>
    <p>but after processing template I am getting not rendered template:</p>
    <p>my template (plans/test.html):</p>
    <pre><code>&lt;!doctype html&gt;
&lt;html lang="pl"&gt;
&lt;div th:text="${loki}"&gt;&lt;/div&gt;
&lt;/html&gt;
</code></pre>
    <p>Java code that should renderd the template:</p>
    <pre><code>@RestController
public class PlansPageRestController {

   
    @Autowired
    TemplateEngine myTemplateEngine;

    @RequestMapping(value = {"/public/plans"}, method = RequestMethod.POST, produces = "application/json")
    public Map&lt;String,String&gt; getPlans(@RequestParam Map&lt;String, String&gt; requestParams) {

        Context ctx = new Context();
        ctx.setVariable("loki", "Some test value");

        String htmlTemplate = myTemplateEngine.process("plans/test.html", ctx);

        Map&lt;String,String&gt; result = new HashMap&lt;&gt;();
        result.put("html", htmlTemplate );
        result.put("result", "success" );

        return result;
    }

}
</code></pre>
    <p>but as a result I am getting content of plans/test.html so:</p>
    <pre class="lang-html prettyprint-override"><code>&lt;!doctype html&gt;
&lt;html lang="pl"&gt;
&lt;div th:text="${loki}"&gt;&lt;/div&gt;
&lt;/html&gt;
</code></pre>
    <p>I am working with spring boot 3.0.0 and regarding to pom I am using thymeleaf:</p>
    <pre class="lang-xml prettyprint-override"><code>&lt;artifactId&gt;thymeleaf-spring6&lt;/artifactId&gt;
&lt;version&gt;3.1.0.RELEASE&lt;/version&gt;
</code></pre>
    <p>Can anyone help me in finding what I am doing wrong?</p>
    <p>my thymeleaf configuration:</p>
    <pre><code>@Configuration
public class ThymeleafConfiguration implements WebMvcConfigurer, ApplicationContextAware {

    private ApplicationContext applicationContext;

    @Override
    public void setApplicationContext(ApplicationContext applicationContext) throws BeansException {
        this.applicationContext = applicationContext;
    }

    @Bean
    public TemplateEngine myTemplateEngine() {
        SpringTemplateEngine engine = new SpringTemplateEngine();
        engine.setEnableSpringELCompiler(true);
        engine.setTemplateResolver(templateResolver());
        engine.setDialect(new LayoutDialect());
        return engine;
    }
    private ITemplateResolver templateResolver() {
        SpringResourceTemplateResolver resolver = new SpringResourceTemplateResolver();
        resolver.setApplicationContext(applicationContext);
        resolver.setPrefix("classpath:/templates/");
        resolver.setTemplateMode(TemplateMode.HTML);
        resolver.setCacheable(false);
        resolver.setCacheTTLMs(0L);
        resolver.setCharacterEncoding("UTF-8");
        return resolver;
    }
}
</code></pre>
   </div>
   <div class="tags">
    <span class="tag">spring-boot</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
     <tbody>
      <tr>
       <td></td>
       <td><span>Your code works for me - I cannot reproduce the issue you describe. I get the following JSON: <code>{"result":"success","html":"&lt;!DOCTYPE html&gt;\n&lt;html lang=\"pl\"&gt;\n &lt;div&gt;Some test value&lt;/div&gt;\n&lt;/html&gt;\n"}</code>. Have you customized your <code>TemplateEngine</code>? Can you show us how it is configured?</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">16 Dec 2022 at 15:32</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>I've added my thymeleaf configuration to original question</span> <span> - </span> <span class="display-name">Replay111</span> <span> </span> <span class="date">16 Dec 2022 at 15:46</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>Thank you for the updates. Do you <i>need</i> to use the layout dialect here? If you comment out <code>engine.setDialect(new LayoutDialect());</code>, then your JSON should be rendered correctly. If you <i>do</i> need the layout dialect, can you clarify why and how you need to use it?</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">16 Dec 2022 at 16:46</span></td>
      </tr>
     </tbody>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>16 Dec 2022 at 17:06</span>
     </div>
    </div>
    <div>
     <p>The reason your standard Thymeleaf expression is not being evaluated is because you have replaced the Thymeleaf "standard" dialect with the layout dialect:</p>
     <pre><code>engine.setDialect(new LayoutDialect());
</code></pre>
     <p>(I should say "the Spring dialect", given you are using Spring-Thymeleaf.)</p>
     <p>If you need to use the layout dialect, then you can <em>add</em> it to the engine - and still keep the standard dialect as well:</p>
     <pre><code>engine.addDialect(new LayoutDialect());
</code></pre>
     <p>Or, you may not need the layout dialect at all (you do not use it in the sample HTML file in the question, but maybe you use it elsewhere). If that is the case, you can remove this line of code.</p>
     <hr>
     <p>Just to add: The default Spring Boot settings should work without you needing to define any <code>ThymeleafConfiguration</code> class. But, again, there may be other places where you need to use a custom configuration (e.g. the <code>UTF-8</code> encoding).</p>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td>1</td>
        <td><span>You are right... I was updating code from some previous version of Spring Boot - and I think I need that layout to be able to have pages organised with master / slave (detail) view, but when I disabled that dialect all seems to be working fine... The only thing that I dont understand that I have in this part of template exactly the same structure which I am using across all other templates and I did not face any problems - anyway, looks like this is working correct - at least now ;-) thanks!</span> <span> - </span> <span class="display-name">Replay111</span> <span> </span> <span class="date">16 Dec 2022 at 18:26</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>