<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>How to loop from 'a' to 'z' in thymeleaf?</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>How to loop from 'a' to 'z' in thymeleaf?</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>0</span>
    </div>
    <div>
     <span>Asker: </span> <span>Francesco Dassisis</span>
    </div>
    <div>
     <span>Asked: </span> <span>18 Nov 2022 at 14:48</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/74491440/how-to-loop-from-a-to-z-in-thymeleaf">source</a>
    </div>
   </div>
   <div>
    <p>is there a way to loop from 'a' to 'z' using th:each block of thymeleaf in a similar way we do using #numbers.sequence?</p>
    <p>For the moment I am using a static array of chars in the back-and and passing this to the front-end.</p>
   </div>
   <div class="tags">
    <span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>3</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>19 Nov 2022 at 00:43</span>
     </div>
    </div>
    <div>
     <p>You can do the following:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;div th:with="letters='abcdefghijklmnopqrstuvwxyz'"
     th:each="num : ${#numbers.sequence(0, 25)}"&gt;
    &lt;div th:text="${#strings.substring(letters, num, num+1)}"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
     <p>This still requires a hard-coded string (as you can see), which you could just as easily pass to Thymeleaf as a Java String (not as an array of chars). But maybe it's more acceptable than what you are currently doing.</p>
     <p>I don't know of any way in which Thymeleaf can directly use Java's <code>(char)('A' + num)</code> technique - otherwise that would probably be what you are looking for. I think that is not possible. Unless/until someone proves it is possible.</p>
     <hr>
     <p><strong>Update</strong></p>
     <p>To prove myself somewhat wrong, I used the following approach:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;div th:each="num : ${#numbers.sequence(97, 122)}"&gt;
    &lt;div th:text="${#conversions.convert(num, 'java.lang.Character')}"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
     <p>This prints <code>a</code> through <code>z</code> by converting the decimal <a href="https://www.rapidtables.com/code/text/ascii-table.html" rel="nofollow noreferrer">ASCII values</a> to Java chars.</p>
     <p><strong>However</strong> this is only valid if you are using the Spring dialect of Thymeleaf - which is not mentioned in your question - so may be of no help to you.</p>
     <hr>
     <p>A solution using the Thymeleaf standard dialect (no Spring) is to define a custom <a href="https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#conversion-services" rel="nofollow noreferrer">conversion service</a>.</p>
     <p>That requires more coding than your current approach - so again, is probably not what you want. But I mention it just in case. How you implement this depends more specifically on how you have integrated Thymeleaf into your program.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>prefer to use 'abcdefghijklmnopqrstuvwxyz'.toCharArray() if I want to use such a solution...</span> <span> - </span> <span class="display-name">Francesco Dassisis</span> <span> </span> <span class="date">19 Nov 2022 at 08:04</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>Understood. I added another approach.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">19 Nov 2022 at 14:16</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>I like your second solution about converting ASCII values</span> <span> - </span> <span class="display-name">Francesco Dassisis</span> <span> </span> <span class="date">21 Nov 2022 at 06:27</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>