<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>How to change the value in the table in thymeleaf</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>How to change the value in the table in thymeleaf</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>dhS</span>
    </div>
    <div>
     <span>Asked: </span> <span>6 Jul 2020 at 11:28</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/62755085/how-to-change-the-value-in-the-table-in-thymeleaf">source</a>
    </div>
   </div>
   <div>
    <pre><code>    List&lt;Object[]&gt; header_data = applicationrepository.fetch_headerdata(id.intValue());
            model.addAttribute("headerdata",header_data);
&lt;tbody th:each="hdata : ${headerdata}"&gt;
    &lt;tr &gt;
        &lt;th&gt;PVP Number&lt;/th&gt;                                         
        &lt;span th:if="${hdata[2] != null}"&gt;                                      
            &lt;td th:text="${hdata[2]}"&gt;&lt;/td&gt;
        &lt;/span&gt;
        &lt;span th:unless="${hdata[2] != null}"&gt;
            &lt;td&gt;&lt;/td&gt;
        &lt;/span&gt;
    &lt;/tr&gt;
&lt;/tbody&gt;
</code></pre>
    <p>the value it gives is <strong>DT1506202028</strong> and i want <strong>DT1506200028</strong>. I am using slice but it is not working the value is coming from the database in the list of the object.</p>
    <p><strong>the requirement is like we need DT + 15+ 06 and instead of year 2020 we need last two digits 20 and for 28 or any other number after the year we need to change it to 0028 (four digit number append 0 in front of this)</strong></p>
    <p>anyone know any other solution.</p>
   </div>
   <div class="tags">
    <span class="tag">javascript</span><span class="tag">jquery</span><span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
     <tbody>
      <tr>
       <td></td>
       <td><span>Please add more details to your question. Where is this <code>DT1506202028</code> coming from? What do you mean with "I am using slice"?</span> <span> - </span> <span class="display-name">Wim Deblauwe</span> <span> </span> <span class="date">6 Jul 2020 at 12:23</span></td>
      </tr>
      <tr>
       <td></td>
       <td><span>Unrelated to your question, but. you can use the <code>th:if</code> and <code>th:unless</code> directly on the <code>&lt;td&gt;</code> tags, there is no need for the <code>&lt;span&gt;</code>. If you find it more readable with an extra tag, you can use <code>&lt;th:block&gt;</code> instead.</span> <span> - </span> <span class="display-name">Wim Deblauwe</span> <span> </span> <span class="date">6 Jul 2020 at 13:27</span></td>
      </tr>
     </tbody>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>2</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>6 Jul 2020 at 13:18</span>
     </div>
    </div>
    <div>
     <p>Thymeleaf has a <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#strings" rel="nofollow noreferrer">substring function</a> - for example: <code>${#strings.substring(name,3,5)}</code>.</p>
     <p>For your data, it would be like this:</p>
     <pre><code>&lt;td th:text="${#strings.substring(hdata[2], 0, 10)}"&gt;&lt;/td&gt;
</code></pre>
     <p>If your <code>{hdata[2]}</code> value can vary in length, you may also need to combine this with Thymeleaf's length function: <code>${#strings.length(str)}</code>, to chop off the last 2 digits:</p>
     <pre><code>&lt;td th:text="${#strings.substring(hdata[2], 0, #strings.length(hdata[2]) -2)}"&gt;&lt;/td&gt;
</code></pre>
     <p><strong>UPDATE:</strong> For the new requirements, you can concatenate the substrings you need:</p>
     <pre><code>&lt;td th:text="${#strings.substring(hdata[2], 0, 6)}
             + ${#strings.substring(hdata[2], 8, 10)} 
             + '00'
             + ${#strings.substring(hdata[2], 10, 12)}"&gt;&lt;/td&gt;
</code></pre>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>sorry the requirement is changed a bit ... please see the upadated question</span> <span> - </span> <span class="display-name">dhS</span> <span> </span> <span class="date">6 Jul 2020 at 14:15</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>OK - answer updated. If my substring logic is off, you can adjust to meet your needs! Also, Wim's note is a great point - it simplifies your template.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">6 Jul 2020 at 14:37</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>it's a great answer but it might be possible that at end we have 2, 3 or 4 digits and we need to add 0 to make the digit count 4 ... like for 28 it is 0028 and for 228 it is 0228 and for 2228 it is the same</span> <span> - </span> <span class="display-name">dhS</span> <span> </span> <span class="date">6 Jul 2020 at 14:50</span></td>
       </tr>
       <tr>
        <td></td>
        <td><span>You can combine the updated approach in my answer with my <code>${#strings.length(str)}</code> example. But it's going to get quite messy, I expect, to deal with your various scenarios. Better yet - do all this work on the server before you pass the data to your Thymeleaf template. Then all of this logic becomes trivial, I would expect.</span> <span> - </span> <span class="display-name">andrewJames</span> <span> </span> <span class="date">6 Jul 2020 at 14:56</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>