<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Thymeleaf remove based on a variable length and value</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
            TeX: {
            extensions: ["begingroup.js"],
            noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
            Macros: { href: "{}" }
            },
            messageStyle: "none",
            styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
            SEEditor: "mathjaxEditing"
            });
        </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
 </head>
 <body>
  <div class="question">
   <a href="/questions">All Questions</a>
   <h2>Thymeleaf remove based on a variable length and value</h2>
   <div class="container-metadata">
    <div>
     <span>Score: </span> <span>1</span>
    </div>
    <div>
     <span>Asker: </span> <span>daddyke</span>
    </div>
    <div>
     <span>Asked: </span> <span>22 Mar 2023 at 10:17</span>
    </div>
    <div>
     <a href="https://stackoverflow.com/questions/75810949/thymeleaf-remove-based-on-a-variable-length-and-value">source</a>
    </div>
   </div>
   <div>
    <p>I have a variable with variable length eg. 01010011101010101 Not binary, but only 0s and 1s. My task is to switch on and off parts of an email regarding to the variable. So if its 1, the part of the text has to be visible, if 0 then not. I have the following code, but its not working properly:</p>
    <pre><code>&lt;li th:remove="${#strings.length(VARIABLE)&gt;=1 and #strings.substring(VARIABLE,0,1) == '1'}? none : all"&gt;A&lt;/li&gt;
&lt;li th:remove="${#strings.length(VARIABLE)&gt;=2 and #strings.substring(VARIABLE,1,2) == '1'}? none : all"&gt;B&lt;/li&gt;
&lt;li th:remove="${#strings.length(VARIABLE)&gt;=3 and #strings.substring(VARIABLE,2,3) == '1'}? none : all"&gt;C&lt;/li&gt;
&lt;li th:remove="${#strings.length(VARIABLE)&gt;=4 and #strings.substring(VARIABLE,3,4) == '1'}? none : all"&gt;D&lt;/li&gt;
</code></pre>
    <p>[...]</p>
    <p>DONT remove the li tag when the length of the variable is enough AND in the proper position there is a 1 instead of zero.</p>
    <p>So for example i'll get 0101 from the variable, in this case I want to get back "BD".</p>
    <p>I have several li-s, and I must check the length of the variable or the email will crash.</p>
    <p>What is wrong whit this? How would you solve this problem?</p>
    <p>Thanks!</p>
   </div>
   <div class="tags">
    <span class="tag">thymeleaf</span>
   </div>
   <hr>
   <div class="comment">
    <table>
    </table>
   </div>
   <br>
   <div>
    <h2 id="answer_1"><span>Answer 1</span></h2>
    <div class="container-metadata">
     <div>
      <span>Score: </span> <span>0</span>
     </div>
     <div>
      <span>Answerer: </span> <span>andrewJames</span>
     </div>
     <div>
      <span> Answered: </span> <span>22 Mar 2023 at 13:04</span>
     </div>
    </div>
    <div>
     <p>Your approach is close - but needs some small changes:</p>
     <ol>
      <li>
       <p>Instead of <code> == '1'</code>, use <code> == 1</code>, as the result is interpreted as an integer not a character.</p></li>
      <li>
       <p>Instead of <code>none</code> and <code>all</code>, use <code>'none'</code> and <code>'all'</code> so the results are interpreted as text instead of literal tokens (full disclosure: I was surprised this change is needed; I thought they would behave the same way).</p></li>
     </ol>
     <p>This gives you the following:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;ul&gt;
    &lt;li th:remove="${#strings.length(VARIABLE)&gt;= 1 and #strings.substring(VARIABLE,0,1) == 1} ? 'none' : 'all'"&gt;A&lt;/li&gt;
    &lt;li th:remove="${#strings.length(VARIABLE)&gt;= 2 and #strings.substring(VARIABLE,1,2) == 1} ? 'none' : 'all'"&gt;B&lt;/li&gt;
    &lt;li th:remove="${#strings.length(VARIABLE)&gt;= 3 and #strings.substring(VARIABLE,2,3) == 1} ? 'none' : 'all'"&gt;C&lt;/li&gt;
    &lt;li th:remove="${#strings.length(VARIABLE)&gt;= 4 and #strings.substring(VARIABLE,3,4) == 1} ? 'none' : 'all'"&gt;D&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
     <p>This generates:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;ul&gt;
    &lt;li&gt;B&lt;/li&gt;
    &lt;li&gt;D&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
     <hr>
     <p>There are probably various different approaches which could work, using Thymeleaf - but I think your approach is good (with the above changes).</p>
     <p>Depending on how your data <code>A</code>, <code>B</code>, <code>C</code>... is sourced you may want to consider using an iterator instead.</p>
     <p>One basic approach (just a starting point for you) is the following:</p>
     <pre class="lang-html prettyprint-override"><code>&lt;ul th:each="step : ${#numbers.sequence(0, #strings.length(VARIABLE)-1)}"&gt;
    &lt;li th:text="${#strings.substring(VARIABLE, step, step+1)}"&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
     <p>This uses an array containing the integers from 0 to the length of your string <code>01010011101010101</code> minus one.</p>
     <p>It then steps through that array of integers to pull each value (<code>0</code> and <code>1</code>) from the string.</p>
     <p>You could use this as the basis for a different approach - depending on where and how you source your <code>A</code>, <code>B</code>, <code>C</code> data.</p>
    </div>
    <hr>
    <div class="comment">
     <table>
      <tbody>
       <tr>
        <td></td>
        <td><span>Thank you your quick help, it works! I'm happy that I was kinda close to the proper solution. Thanks again!</span> <span> - </span> <span class="display-name">daddyke</span> <span> </span> <span class="date">22 Mar 2023 at 13:36</span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <br>
   <div>
    <span>License: </span> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <span>by </span> <a href="https://stackoverflow.com/legal/terms-of-service#licensing">Stack Overflow Inc.</a>
   </div>
  </div>
 </body>
</html>